<!DOCTYPE html>
<html lang="en-US">
<head>
    <title> {% block title %}PrePubMed{% endblock %} </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Vollkorn">
    <link rel="shortcut icon" href="https://s3.amazonaws.com/prepubmed/prepub_favicon.ico" type="image/x-icon">
    <link rel="icon" href="https://s3.amazonaws.com/prepubmed/prepub_favicon.ico" type="image/x-icon">
    <style>
     body{
        font-family:"Arial",sans-serif;
    }
    #mysite {
    font-family: "Vollkorn", serif;
    margin: 0px;
    padding: 0px;
    color: black;
    font-size: 24px;
    }
    a {
        font-weight: 500;
        color:#375e97;
        text-decoration:none;
    }

    a:hover {
        font-weight: 500;
        text-decoration:underline;
    }

    #home {
    margin-bottom: 0px;
    padding: 0px;
    color: black;
    font-size: 20px;
    }

    p {
        font-size:20px
    }
    h2 {
        color:#fb6542;
        font-weight: 600;
        margin:0px;
        padding:0px;
    }

    input[type=text] {
        border: 2px solid #7EB351;
        text-align:center;
    }
    
    input[type=text]:focus {
        border: 2px solid #3f681c;
    }



    .btn-default {
        background-color:#fb6542;
        color:black;
    }

    .btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus,
    .btn-default:active:focus, .btn-default:active:hover,.btn-default:hover,.btn-default:active,.btn-default:focus
    {
        background-color:#fd8c71;
        color:#000000;
    }

    #calculate {
        position:relative;
        top:36px;
        right:50px;
    }
    .form-group {
        margin-top:10px;
    }

    .form-control{
        font-size:24px;
    }

    .form-inline .form-group input{
        width:80%;
        height:36px;
    }
    #errors {
        color:red;
        margin-top:10px;
        position:relative;
        top:10px;
        right:50px;
        z-index:-100;
    }

    </style>
</head>
<body>
    <div class="col-sm-12" style="background-color: #ffbb00; text-align:center">
        <div class="col-sm-1" style="position:relative;top:2px">
            <a id="home" href="/">Home</a></span>
        </div>
        <div class="col-sm-10">
            <a id="mysite" href="http://www.omnesres.com/">Omnes Res</a>
        </div>
        <div class="col-sm-1">
        </div>          
    </div>
    <div class="col-sm-12" style="text-align:center">
        <h2>Two-Way ANOVA</h2>
        <div class="col-sm-12">
            <div class="col-sm-5">
            </div>
            <div class="col-sm-2">
                <a href="/">
                    <img src="https://s3.amazonaws.com/prepubmed/first_logo.png" style="height:90px;margin-top:10px" class="img-responsive center-block"   >
                </a>
            </div>
            <div class="col-sm-5">
            </div>
        </div>
    <div class="col-sm-12">
        <div class="col-sm-1">
        </div>
        <div class="col-sm-9" style="margin-top:10px;text-align:justify">
            <p>The test below will recalculate Type 3 SS two-way ANOVAs allowing for rounding uncertainty in the reported means and SDs.</p>
        </div>
        <div class="col-sm-2">
        </div>
    </div>
    <div class="col-sm-12" style="margin-top:10px">
        <form action="/anova_2way/" method="get" class="form-inline entry" style="text-align:center">
            <div class="col-sm-12">
                <div style="font-size:20px;margin-top:0px">
                    <div class="col-sm-12">
                        <div class="col-sm-2" style="font-size:24px;margin-top:100px;text-align:right">
                            Sample sizes
                        </div>
                        <div class="col-sm-4">
                            <div class="col-sm-12">
                                <b>Factor A, Condition 1</b>
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="sizea1b1">Factor B, Condition 1</label>
                                <div>
                                    <input type="text" class="form-control" name="sizea1b1" maxlength=12 id="sizea1b1" value={{sizea1b1}}>
                                </div>
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="sizea1b2">Factor B, Condition 2</label>
                                <div>
                                    <input type="text" class="form-control" name="sizea1b2" maxlength=10 id="sizea1b2" value={{sizea1b2}}>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="col-sm-12">
                                <b>Factor A, Condition 2</b>
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="sizea2b1">Factor B, Condition 1</label>
                                <div>
                                    <input type="text" class="form-control" name="sizea2b1" maxlength=10 id="sizea2b1" value={{sizea2b1}}>
                                </div>
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="sizea2b2">Factor B, Condition 2</label>
                                <div>
                                    <input type="text" class="form-control" name="sizea2b2" maxlength=10 id="sizea2b2" value={{sizea2b2}}>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="col-sm-2" style="font-size:24px;margin-top:10px;text-align:right">
                            Means
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group col-sm-6">
                                <div>
                                    <input type="text" class="form-control" name="meana1b1" maxlength=12 id="meana1b1" value={{meana1b1}}>
                                </div>
                            </div>
                            <div class="form-group col-sm-6">
                                <div>
                                    <input type="text" class="form-control" name="meana1b2" maxlength=10 id="meana1b2" value={{meana1b2}}>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group col-sm-6">
                                <div>
                                    <input type="text" class="form-control" name="meana2b1" maxlength=10 id="meana2b1" value={{meana2b1}}>
                                </div>
                            </div>
                            <div class="form-group col-sm-6">
                                <div>
                                    <input type="text" class="form-control" name="meana2b2" maxlength=10 id="meana2b2" value={{meana2b2}}>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                        </div>
                    </div>
                    <div class="col-sm-12" style="padding=0px">
                        <div class="col-sm-2" style="font-size:24px;margin-top:10px;text-align:right">
                            SDs
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group col-sm-6">
                                <div>
                                    <input type="text" class="form-control" name="sda1b1" maxlength=12 id="sda1b1" value={{sda1b1}}>
                                </div>
                            </div>
                            <div class="form-group col-sm-6">
                                <div>
                                    <input type="text" class="form-control" name="sda1b2" maxlength=10 id="sda1b2" value={{sda1b2}}>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group col-sm-6">
                                <div>
                                    <input type="text" class="form-control" name="sda2b1" maxlength=10 id="sda2b1" value={{sda2b1}}>
                                </div>
                            </div>
                            <div class="form-group col-sm-6">
                                <div>
                                    <input type="text" class="form-control" name="sda2b2" maxlength=10 id="sda2b2" value={{sda2b2}}>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                        </div>
                    </div>
                    {% if unicode %}
                    <p id="errors">
                    Please no unicode values
                    </p>
                    {% elif decimal %}
                    <p id="errors">
                    Please enter a number with decimal places for mean/sd
                    </p>
                    {% elif conditions %}
                    <p id="errors">
                    Please fill out more than one column
                    </p>
                    {% elif mean_decimals %}
                    <p id="errors">
                    Please enter the same number of decimals for each mean
                    </p>
                    {% elif sd_decimals %}
                    <p id="errors">
                    Please enter the same number of decimals for each sd
                    </p>
                    {% elif size_number %}
                    <p id="errors">
                    Please enter a whole number for size
                    </p>
                    {% endif %}
                </div>
            </div>
        <button id="calculate" type="submit" class="btn btn-default" style="font-size:24px;color:white;margin-left:100px">Calculate</button>
        </form>
    </div>
    {% if not home %}
    {% if no_error %}
    <div class="col-sm-12" style="margin-top:20px;font-size:20px">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-4" style="margin-top:0px;white-space:pre-wrap">
Exact
{% for i in exact %}{{i}}<br>{% endfor %}
        </div>
        <div class="col-sm-4" style="margin-top:0px;white-space:pre-wrap">
Range
{% for i in result %}{{i}}<br>{% endfor %}
        </div>
        <div class="col-sm-2">
        </div>
    </div>
    {% endif %}
    {% endif %}
</body>
</html>